@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #f6f6f6;
}


/* Navbar section */
.navbar {
  height: 60px;
  background-color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  padding: 0 1.5rem;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  color: var(--primaryColor);
}

.navbar-title {
  font-family: 'Roboto', sans-serif;
}

.cart-icon {
  cursor: pointer;
  position: relative;
  color: var(--primaryColor);
}

.menu-icon,
.cart-icon {
  font-size: 1.5rem;
}

.cart-items {
  font-size: 15px;
  color: white;
  border-radius: 100%;
  position: absolute;
  min-width: 15px;
  min-height: 15px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -6px;
  right: -6px;
}

/* End of navbar */


/* Products section */
.products-section-title {
  margin-top: 1rem;
}

.products {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-center {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 2.5rem;
  grid-row-gap: 3.5rem;
}

.product {
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  min-height: 120px;
}

.products-desc {
  font-weight: bold;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.add-to-cart {
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--primaryColor);
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.add-to-cart:hover {
  background-color: #8148db;
}

/* End of Products section */

/* Cart section */
.cartContainer{
  /* visibility: hidden; */
  visibility: visible;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.cartSection{
  position: relative;
  padding-top: 20px;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff!important ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-section-close-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  background-color: var(--primaryColor);
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.cart-items-wrapper{
  overflow: auto;
  margin: 10px auto;
  position: relative;
  padding-top: 20px;
  max-width: 800px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  background-color: #fff!important ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cart-item{
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 2.5rem;
  grid-row-gap: 3.5rem;
  margin-top: 20px;
  width: 100%;
  /* background-color: #6d28d9; */
  display: grid;
}

.cart-item-img-wrapper{
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.cart-item-img-wrapper img{
  width: 200px;
  border-radius: 10px;
max-height: 150px;
}

.cart-item-details{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-price{
  margin-top: 20px;
  color: gray;
  font-weight: bold;
}

.cart-item-count-section{
  justify-self: center;
  /* background-color: bisque; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cart-item-count-increment{
  cursor: pointer;
  color: var(--primaryColor);
}

.cart-item-count-decrement{
  cursor: pointer;
  color: rgb(255, 98, 98);
}

.cart-item-count-number{
  margin: 15px;
}

.cart-item-delete-section{
  color: rgb(255, 98, 98);
  justify-self: center;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-delete-icon{
  cursor: pointer;
}
/* End of Cart section */