@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #f6f6f6;
}


/* Navbar section */
.navbar {
  height: 60px;
  background-color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  padding: 0 1.5rem;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  color: var(--primaryColor);
}

.navbar-title {
  font-family: 'Roboto', sans-serif;
}

.cart-icon {
  cursor: pointer;
  position: relative;
  color: var(--primaryColor);
}

.menu-icon,
.cart-icon {
  font-size: 1.5rem;
}

.cart-items {
  font-size: 15px;
  color: white;
  border-radius: 100%;
  position: absolute;
  min-width: 15px;
  min-height: 15px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -6px;
  right: -6px;
}

/* End of navbar */


/* Products section */
.products-section-title {
  margin-top: 1rem;
}

.products {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-center {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 2.5rem;
  grid-row-gap: 3.5rem;
}

.product {
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  min-height: 120px;
}

.products-desc {
  font-weight: bold;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.add-to-cart {
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--primaryColor);
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.add-to-cart:hover {
  background-color: #8148db;
}

/* End of Products section */